<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <title>Travel Planner</title>
</head>

<body>
  <header>
    <div>
      Udacity
    </div>
    <div>
      Travel Planner
    </div>
  </header>
  <main>
    <form id="app" class="app">
      <h1> where would you travel next?</h1>
      <div class="holder">
        <label for="city">Enter City here:</label>
        <input type="text" id="city" placeholder="Enter city here" required>
      </div>
      <div class="holder feel">
        <label for="start">Start date:</label>
        <input type="date" id="start__date" name="start" class="date" required>
      </div>
      <div class="holder feel">
        <label for="start">End date:</label>
        <input type="date" id="end__date" name="end" class="date" disabled>
      </div>
      <button id="generate" type="submit" class="btn__generate"> Generate </button>
    </form>
    <aside>
      <img src="travel1.png" alt="travel">
    </aside>
  </main>
  <div class="entry">
    <div class="entry__information">
      <p>My Trip to: <span id="entry__city"></span>,<span id="entry__country"></span></p>
      <p>Departing: <span id="entry__departing"></span></p>
      <p>length of trip: <span id="length__trip"></span> <span id="days__travel"></span></p>
    </div>
    <div class="entry__img">
      <img src="" alt="trip" id="entry__img">
    </div>
    <div class="entry__information__temp">
      <p>Typical weather for then is:</p>
      <p>High - <span id="entry__high__temp"></span>, Low - <span id="entry__low__temp"></span> </p>
      <p id="temp__desc"></p>
      <!-- <img src="https://www.weatherbit.io/static/img/icons/r01d.png" alt="weather Icon"> -->
    </div>
  </div>
  <footer>
    <p>developed by © Aymen Isfiaya</p>
  </footer>
</body>

</html>