<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <title>Travel Planner</title>
</head>

<body>
  <header>
    <div>
      Udacity
    </div>
    <div>
      Travel Planner
    </div>
  </header>
  <main>
    <form id="app" class="app">
      <h1> where would you travel next?</h1>
      <div class="holder">
        <label for="city">Enter City here:</label>
        <input type="text" id="city" placeholder="Enter city here" required>
      </div>
      <div class="holder feel">
        <label for="start">Start date:</label>
        <input type="date" id="start__date" name="start" class="date" required>
      </div>
      <div class="holder feel">
        <label for="start">End date:</label>
        <input type="date" id="end__date" name="end" class="date" disabled>
      </div>
      <button id="generate" type="submit" class="btn__generate"> Generate </button>
    </form>
    <aside>
      <img src="travel1.png" alt="travel">
    </aside>
  </main>
  <h2>Your Trip</h2>
  <div class="result" id="result">
    <div class="result__img">
      <img src="" alt="trip" id="result__img">
    </div>
    <div class="result__information">
      <h3><span id="result__city"></span>,<span id="result__country"></span></h3>
      <div class="result__content">
        <div class="result__information__temp">
          <img src="" alt="weather Icon" id="weather__icon">
        </div>
        <div class="result__information__desc">
          <p>Departing: <span id="result__departing"></span></p>
          <p>length of trip: <span id="length__trip"></span> <span id="days__travel"></span></p>
          <p>Typical weather for then is:</p>
          <p>High - <span id="result__high__temp"></span>°C , Low - <span id="result__low__temp"></span>°C</p>
          <p id="temp__desc"></p>
        </div>
      </div>

    </div>
    <button id="btn_remove" class="btn_remove">Remove Trip</button>
  </div>
  <footer>
    <p>developed by © Aymen Isfiaya</p>
  </footer>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>