.result {
  border: solid 1px #e4dddd;
  margin: 0 1rem;
  max-width: 35rem;
  background-color: #f8f8f8;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
  display: none;
}
.result__img {
  max-height: 15rem;
  img {
    width: 100%;
    max-height: 15rem;
    object-fit: fill;
  }
}
.result__information {
  padding: 1rem;
  h3 {
    text-align: center;
  }
}
.result__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__information__desc {
  line-height: 2rem;
  text-align: center;
}
@media (min-width: 640px) {
  .result {
    margin: auto;
  }
  .result__content {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }
  .result__information__desc {
    text-align: start;
    border-left: solid 1px;
    padding-left: 1rem;
  }
}
.btn_remove {
  padding: 0.8rem 1.3rem;
  background: #8566e5;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: all 300ms ease-in-out;
  &:hover {
    background: #8566e5b3;
  }
}
